@import './common/settings';

* {
    padding: 0;
    margin: 0;
}

/* body {
    font-family: $quicksandFont;
} */

.toast-valid {
    background-color: $success-answer !important;
}

.toast-invalid {
    background-color: $error-answer !important;
}